* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 21px;
    line-height: 1.5em;
    background-image: url(../images/background3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#loginBtn {
    transition: 0.25s;
    position: absolute;
    right: 5%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 21px;
    width: 240px;
    height: 48px;
    padding: 4px;
    border: 4px solid #fff;
    border-radius: 48px;
    background: #ffffff00;
    color: #fff;
}
#loginBtn:hover {
    transition: 0.25s;
    background: #fff;
    color: #404040;
}

#homeLogo {
    display: block;
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}
#homeDiscover {
    text-align: center;
    margin-top: 12px;
    color: #fff;
}
#homeDiscover a {
    transition: 0.25s;
    color: #404040;
}
#homeDiscover a:hover {
    color: #0080ff;
}

#searchBox:hover > #searchBtn img {
    width: 72px;
    height: 72px;
}
#searchBoxNav:hover > #searchBtnNav img {
    width: 72px;
    height: 72px;
}
#searchBoxMap:hover > #searchBtnMap img {
    width: 72px;
    height: 72px;
}
#searchBoxAmount:hover > #searchBtnAmount img {
    width: 72px;
    height: 72px;
}

#searchBox, #searchBoxNav, #searchBoxMap {
    width: 800px;
    height: 48px;
    border-radius: 48px;
}
#searchBox {
    background: #404040;
    margin: auto;
}
#searchBoxNav, #searchBoxMap {
    float: right;
    background: #fff;
    margin-top: 24px;
}
#searchBoxAmount {
    width: 300px;
    height: 48px;
    border-radius: 48px;
    background: #404040;
    margin: auto;
}

#searchTxt, #searchTxtNav, #searchTxtMap, #searchTxtAmount {
    border: none;
    background: none;
    outline: none;
    padding: 12px;
    margin-left: 12px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 21px;
    transition: 0.25s;
}
#searchTxt {
    color: #fff;
    width: 720px;
}
#searchTxtNav, #searchTxtMap {
    color: #404040;
    width: 720px;
}
#searchTxtAmount {
    color: #fff;
    width: 220px;
}

#searchBtn, #searchBtnNav, #searchBtnMap, #searchBtnAmount {
    float: right;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#searchBtn img, #searchBtnNav img, #searchBtnMap img, #searchBtnAmount img {
    transition: 0.25s;
    width: 50px;
    height: 50px;
}



#resultTitle, #artistTitle, #mapTitle {
    text-align: center;
    font-size: 35px;
    color: #ffffffa0;
}

#results {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.resultBtn {
    margin: 12px;
}
.resultBox {
    height: 120px;
    background: #00000080;
}
.resultImage {
    float: left;
    height: 120px;
}
.resultName {
    font-size: 42px;
    color: #fff;
    margin-left: 140px;
    padding-top: 42px;
}



#artist {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.artistTitle2 {
    text-align: center;
    font-size: 35px;
    color: #ffffff;
    margin-top: 36px;
}
.artistBox {
    background: #00000080;
    margin: 24px;
}
.artistBoxSmall {
    background: #00000080;
    padding: 12px;
    margin: 24px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.artistBoxMedium {
    background: #00000080;
    padding: 12px;
    margin: 24px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#artistImage {
    float: left;
    height: 300px;
}
#artistName {
    font-size: 42px;
    color: #fff;
    margin-left: 340px;
    padding-top: 135px;
    padding-bottom: 134px;
}

.trackFix {
    background: #ffffff20;
    width: 752px;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
}
.artistTrackImage {
    float: left;
    height: 64px;
}
.artistTrackName {
    font-size: 21px;
    color: #fff;
    margin-left: 80px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.artistVenueBtn {
    background: #ffffff20;
    width: 100%;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.artistVenueText {
    text-align: center;
    font-size: 21px;
    color: #fff;
    margin-left: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.artistLinkText {
    text-align: center;
    width: 100%;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    background: #ffffff20;
    color: #fff;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
}
.artistLinkBtn {
    transition: 0.25s;
    color: #fff;
}
.artistLinkBtn:hover {
    color: #1ed760;
}



#map {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
#mapBox {
    height: 480px;
    background: #00000080;
    margin: 24px;
}



nav {
    font-size: 21px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 96px;
    padding: 0;
    border: 0;
    margin: 0 auto;
    color: #fff;
    background: #404040;
}
#navBar {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#navIcon {
    max-height: 80px;
    margin-top: 8px;
}



.wrapper {
    min-height: 100%;
    margin-bottom: -72px;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 72px;
    padding: 14px 0;
    color: #fff;
    background: #202020;
}
.footer {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.footer p {
    font-size: 21px;
    float: left;
    margin: 8px;
}
.footer img {
    float: right;
    margin-left: 32px;
}

.pusher {
    height: 72px;
}