* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 1.5rem;
    color: whitesmoke;
    background-image: url(../images/background3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

#index-container{
    margin: auto;
    width: 35%;
    margin-bottom: 100px;
    /* background-color: rgba(255, 255, 255, 0.25); */
}

#main-logo{
    width: 100%;
}

form{
    width: 100%;
}

input#artist{
    width: 100%;
    height: 30px;
    padding-left: 10px;
    border-radius: 5px;
}

input[type="submit"]{
    height: 30px;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 5px;
    margin-top: 10px;
}

span#venues-link{
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
    
}


header {
    background-color: darkorange;
    border-bottom: groove;
    border-color: rgb(223, 76, 8);
    border-width: 7px;
    width: 100%;
    margin-top: 0px;
    left: 0px;
    height: 96px;
    position: fixed;
    top: 0px;
}

#logo-container {
    float: left;
    padding: 20px;
    margin-top: 0;
}

#all {
    margin-bottom: 100px;
    margin-top: 125px;
}

#logo {
    max-width: 80px;
    margin-right: 25px;
    margin-left: 10px;
}

a {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

#pac-input{
    height: 40px;
    width: 300px;
    margin-top: 10px;
    font-size: 18px;
    padding-left:5px;
}

ul {
    display: inline;
    list-style-type: none;
}

#link2 {
    float: left;
    border-right-style: groove;
    border-right-width: 5px;
    border-right-color: rgb(223, 76, 8);
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    margin-top: 30px;
}

#link3 {
    margin-top: 30px;
    float: left;
    font-size: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.feature {
    font-family: 'Play', sans-serif;
    color: #FF981C;
    margin-top: 14px;
    border-style: groove;
    border-color: white;
    border-width: 10px;
    border-radius: 5px;
    background-color: rgba(15, 15, 15, 0.87);
    padding: 20px;
}

#col-one {
    float: left;
    width: 32.5%;
}

#col-two {
    float: left;
    width: 32.5%;
    margin-left: 14px;
}

#col-three {
    float: left;
    width: 32.5%;
    margin-left: 13px;
}

#map {
    height: inherit;
    font-family: 'Play', sans-serif;
    color: black;
    background-color: rgba(15, 15, 15, 0.87);
    overflow: auto;
    clear: both;
    width: 80%;
    height: 350px;
    margin: auto;
    }
}
