* {
    box-sizing: border-box;
}
  
body {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 1.5rem;
    color: whitesmoke;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#all{
    max-height: 800px;
    margin-bottom: 100px;
}

nav{
    background-color: darkorange;
    border-bottom: groove;
    border-color: rgb(223, 76, 8);
    border-width: 5px;
}

#logo{
    max-width: 80px;
    margin-right: 25px;
    margin-left: 10px;
}

form{
    width: 30%;
}

#main{
    overflow: auto;
    clear: both;
    font-family: 'Play', sans-serif;
    color: #FF981C;
    margin-top:25px;
    border-style: groove;
    border-color: white;
    border-width: 10px;
    border-radius: 5px;
    background-color: rgba(15, 15, 15, 0.87);
    padding: 20px;
    width: 90%;
    height: 800px;
}

#media{
    width: 90%;
    font-family: 'Play', sans-serif;
    color: #FF981C;
    margin-top:25px;
    border-style: groove;
    border-color: white;
    border-width: 10px;
    border-radius: 5px;
    background-color: rgba(15, 15, 15, 0.87);
    padding: 20px;
    margin-left: 10px;
    height: 375px;
}

#map{
    height: 400px;
    margin-left: 10px;
    width: 90%;
    font-family: 'Play', sans-serif;
    color: #FF981C;
    margin-top:25px;
    border-style: groove;
    border-color: white;
    border-width: 10px;
    border-radius: 5px;
    background-color: rgba(15, 15, 15, 0.87);
    padding: 20px;
}

#first-one{
    width: 30%;
}

#first-two{
    width: 70%;
}